#*
   Copyright 2010-2014 Norconex Inc.

   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.
*#
#set($nexusPath = "https://oss.sonatype.org/content/groups/public/com/norconex/jef/norconex-jef")
#set($releasePath = "http://norconex.s3.amazonaws.com/repo/release/com/norconex/jef/norconex-jef")
<head><title>Download</title><meta name="Author" content="Norconex Inc." /></head> 

Download
========

Latest stable release
**[Download Latest Release ${currentStableVersion}](${nexusPath}/${currentStableVersion}/norconex-jef-${currentStableVersion}.zip)**

**Release Overview:**

  * Make sure to convert relative paths to absolute ones when writing suite index.
  * Improved file logging.
  * [View full list of changes]((changes-report.html))
  
Older releases:

  * [4.0.0]($nexusPath/4.0.0/norconex-jef-4.0.0.zip)<small>
    [[Release Notes](changes-report.html#a4.0.0)]</small>
  * [3.0.1]($releasePath/3.0.1/norconex-jef-3.0.1.zip)<small>
    [[Release Notes](changes-report.html#a3.0.1)]</small>
  * [3.0.0]($releasePath/3.0.0/norconex-jef-3.0.0.zip)<small>
    [[Release Notes](changes-report.html#a3.0.0)]</small>


<h3>Source</h3>
  
Source code can be obtained on GitHub: <https://github.com/Norconex/jef>.
  
Maven users can add the following to their pom.xml:
  
    <dependency>
        <groupId>com.norconex.jef</groupId>
        <artifactId>norconex-jef</artifactId>
        <version>${currentStableVersion}</version>
    </dependency>
  