#*
   Copyright 2010-2014 Norconex Inc.

   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.
*#
<head><title>Home</title><meta name="Author" content="Norconex Inc." /></head> 

Welcome to Norconex JEF
=======================

JEF stands for *Job Execution Framework* and is first and foremost a 
Java API library.  It is meant to facilitate the lives of developers and 
integrators who have to build any kind of maintenance tasks on a server. 
JEF let's you build those jobs as you normally would using Java. Then, 
JEF strives to make it easier by offering a set of "out-of-the-box" 
functionalities that would otherwise be tedious and sometimes costly to do 
from scratch.   These functionalities includes:

 * Better error handing and reporting

 * Crash recovery (resuming jobs where they failed)

 * Self-diagnostics of process issues

 * Email notification (upon success, failure, etc.)

 * Chaining of individual jobs (Both synchronous and asynchronous 
   jobs are supported)

 * Centralized process logging

 * More robust execution of system commands

Norconex also provides *JEF Monitor*, a browser-based application offering
a glance view of all running jobs, with possibilities to perform actions on 
them. [Contact Norconex](mailto:info@norconex.com) for more info on JEF 
Monitor.

![Screenshot of JEF Monitor](images/jefmon.png "Screenshot of JEF Monitor")  
  
The current stable version of 
[Norconex JEF](http://www.norconex.com/product/jef) is
${currentStableVersion} ([download](./download.html)). 

  Latest [API documentation](./apidocs/index.html).
